.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
backend.gcs.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan
.terraform.tfstate.lock.info
