/target
/tools/provision/target
/tools/publisher/target
/.embuild
/.preview
/config.toml
/provisioning.toml
/gh.env
/gcp-sa-key.pem
/gcp-sa-key.json
sdkconfig
sdkconfig.old
sdkconfig.defaults
dependencies.lock
.vscode/.browse.c_cpp.db*
*.pem
!certs/*.pem
!trust/*.pem
